/*******************CSS PAR DEFAUT*************/
/* paramettres générals */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
}

/* HEADER STRUCTURE DE LA NAVIGATION */
.headband {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 80px;
}

.logo {
  width: 90px;
  height: 59px;
  object-fit: contain;
}

/* pour les lien hébergements activités*/
nav {
  display: flex;
  flex-direction: row;
  gap: 50px;

}

.menu {
  display: flex;
  align-items: center;
  padding: 20px 20px 0px 20px;
  font-size: 120%;
  width: 100%;
  height: 100px;
  color: black;
}

/* effet de survole */
.menu:hover {
  border-top: 2px solid #0065FC;
  color: #0065FC;
}

/* MAIN */
/* formulaire */

/* taille et position du formulaire */

.search h2 {
  font-size: 130%;
}

.search p {
  margin: 20px 0px 40px 0px;
  font-size: 120%;
}

/* map bouton et recherche */
.choice {
  display: flex;
  justify-content: flex-start;
  height: 60px;
  margin: 40px 0px 60px 0px;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  background-color: #D9D9D9;
  border-radius: 15px 0px 0px 15px;
  font-size: 130%;
}

input {
  text-align: start;
  padding-left: 20px;
  width: 340px;
  border: 1px solid #D9D9D9;
}

::placeholder {

  font-size: 130%;
  font-weight: bold;
  color: black;
}

.btn {
  padding: 0px 20px 0px 20px;
  font-size: 120%;
  color: #ffff;
  background-color: #0065FC;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
}

/* FILTRE */
.filter-list {
  display: flex;
  justify-content: flex-star;
  align-items: center;
  width: 70%;
  font-weight: bold;
  font-size: 100%;
  margin-bottom: 30px;
  gap: 60px;
}
/*la class eco-list pour gérer l'éspacement */
.eco-list {
  gap: 35px;
  
}
/*la class pet-list pour gérer l'éspacement*/
.pet-list {
  gap: 30px;
}
.list-choose {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.filter-list i {
  color: #0065FC;
  padding: 15px 18px 15px 18px;
}

.filter-choose span {
  padding: 15px 20px 15px 0px;
}

.filter-choose {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  border: 2px solid #D9D9D9;
  border-radius: 40px;
  margin: 1.5%;
}


.filter-choose:hover {
  background-color: #DEEBFF;
  transform: scale(1.05);
}

/* icone information*/
.info {
  display: flex;
  align-items: center;
  margin: 10px 0px 50px 0px;
}

.note-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 130%;
  width: 35px;
  height: 35px;
  color: #0065FC;
  border: 2px solid #D9D9D9;
  border-radius: 25px;
  margin-right: 20px;
}

.info span {
  font-size: 120%;
}

/* SECTION HEBERGEMENT ET POPULAIRES*/
/*couleur et taille des etoiles */
.lodge-marseille i {
  font-size: 70%;
  color: #0065FC;
}

.lodgepopular i {
  font-size: 70%;
  color: #0065FC;
}

.stargrey {
  color: #D9D9D9 !important;
}

/* espacement entre les étoiles */
.precision-popular span {
  word-spacing: -5px;
}

.precision-marseille span {
  word-spacing: -5px;
}

/* boite hebergements et populaires */
.hosts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3%;
  width: 100%;
  height: auto;
}

/*HEBERGEMENT A MARSEILLE*/
.hosts-marseille {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-basis: 65%;
  height: 700px;
  gap: 3%;
  border-radius: 20px;
  background-color: #F2F2F2;
}

/* titre hebergement à Marseille */
.show-marseille {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  font-size: 100%;
  margin-top: 40px;

}


/* cartes de visites hebergements a Marseille */
.lodge-marseille {
  width: 30%;
  height: 230px;
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(139, 138, 138)
}

.img-marseille {
  display: block;
  object-fit: cover;
  margin: auto;
  border-radius: 18px 18px 0px 0px;
  padding-top: 3%;
  width: 95%;
  height: 140px;
}



.precision-marseille {
  line-height: 170%;
  font-size: 90%;
  margin: 10px 0px 0px 10px;
}

/* style de afficher plus */
.attach {
  display: flex;
  justify-content: flex-start;
  width: 93%;
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 2%;
}

.attach a {
  color: black;
}

/* SECTION LES PLUS POPULAIRES */
.hosts-popular {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  height: 700px;
  align-items: center;
  gap: 45px;
  border-radius: 20px;
  background-color: #F2F2F2;
}

/* titre et icone */
.title-popular {
  width: 86%;
  font-size: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  white-space: nowrap;
}

.fa-solid.fa-chart-line {
  color: #0065FC;
  font-size: 170%;
}

/* boites des cartes*/
.hosts-popular-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;
  width: 86%;
  gap: 30px;
}

.lodgepopular {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 160px;
  padding-left: 1.2%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(139, 138, 138)
}


.img-popular {

  object-fit: cover;
  border-radius: 18px 0px 0px 18px;
  width: 35%;
  height: 140px;
 margin-left: 5px;
  margin-top: 10px;
}

/* description populaire */
.precision-popular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-size: 90%;
  line-height: 150%;
  margin: 15px 5px 15px 10px;

}

/*effet au survol */
.lodge-marseille:hover {
  transform: scale(1.05);
}

.lodgepopular:hover {
  transform: scale(1.05);
}

/* ACTIVITES A MARSEILLE */
.hobby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

/*titre Marseille*/
#Activités {
  font-size: 150%;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* boites cartes activites */
.hobby-activity {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 380px;
  gap: 40px;
}

/* image sur activités à Marseille */
.hobby-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  height: 350px;
  border: 0px solid white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px 5px rgb(139, 138, 138)
}

.hobby-landscape {
  width: 100%;
  height: 280px;/*MMA*/
  border-radius: 20px 20px 0px 0px;
}

/* position des images*/
.port {
  object-fit: none;
  object-position: 70% 25%;
}

.fort {
  object-fit: cover;
  object-position: 30% 65%;
}

.park {
  object-fit: none;
  object-position: 90% 15%;
}
.church {
 object-fit: none;
  object-position: 100% top;
}
/* effet de survole */
.hobby-list:hover {
  transform: scale(1.05);
}
/* taille position des noms */

.hobby-list-position {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 100%;
  margin: auto;
  padding-left: 5%;
}

/* FOOTER */
/* boite du footer */
.foot-terminal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 80px;
  padding-top: 50px;
  width: 100%;
  height: 300px;
  background-color: #F2F2F2;
}
 /* boite des rensignements */
.foot {
  padding: 10px;
  flex-basis: 25%;
  font-size: 100%;
  line-height: 40px;
}

/******************RESPONSIVE DESKTOP************/

@media (992px <=width) {
/*formulaire loupe et recherche*/
  .btn i {
    display: none;
  }  
  
  /* les cartes de visites hebergements a Marseille */ 
  .precision-marseille {
    white-space: nowrap;
  }
}


/***************RESPONSIVE TABLETTE *******************/

@media (768px <=width <992px) {

  /* liens hebergements activités */
  nav {
    justify-content: flex-end;
  }

  .menu {
    padding: 20px 0px 0px 0px;
  }
  /* formulaire */

/*formulaire loupe recherche*/
  .btn i {
    display: none;
  }

/* map bouton et recherche */
  .choice {
    height: 50px;
  }

  .map {
    width: 50px;
    font-size: 120%;
  }

  input {
    width: 250px;
  }

  ::placeholder {
    font-size: 120%;
  }

  .btn {
    font-size: 110%;
  }

  /* FILTRE */

  .filter-choose span {
   font-size: 80%;
  }
.filter-list {
  gap: 25px;
}
.list-choose {
  gap: 5px;
}
  /* SECTION HEBERGEMENT ET POPULAIRES */
  /* boite hebergements et populaires */
  .hosts {
    flex-direction: column;
  }

  /*HEBERGEMENT A MARSEILLE*/
  .hosts-marseille {
    margin-bottom: 5%;
  }

  /* cartes de visites hebergements a Marseille */
  .lodge-marseille {
    margin-top: 3%;
  }

.show-marseille {
  width: 95%;
}
  /*style de afficher plus */
  .attach {
    margin-top: 6%;
    margin-bottom: 6%;
  }

  /* SECTION LES PLUS POPULAIRES */
  .hosts-popular {
    height: auto;
    gap: 20px;
  }
  .title-popular {
    width: 95%;
  }

  /* boites des cartes*/
  .hosts-popular-img {
    flex-direction: row;
    margin-bottom: 50px;
    width: 95%;
    gap: 10px;
  }

  .img-popular {
    margin-left: 1.5px;
  }

  /* description populaire*/
  .precision-popular {
    line-height: 150%;
    font-size: 80%;
  }

  /* ACTIVITES A MARSEILLE */
  /*titre Marseille*/
  #Activités {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  /* boites a cartes de activites */
  .hobby-activity {
    height: auto;
  }

  .hobby-list {
    height: 280px;
  }

  /* image sur activités à Marseille */
  .hobby-landscape {
  height: 220px;
  }

  .park {
 object-fit: none;
  object-position: 50% 50%;
}
.church {
  object-fit: none;
  object-position: 50% 10%;
}

  /* FOOTER */
  .foot {
    flex-basis: 30%;
  }
}


/***************RESPONSIVE MOBILE****************/

@media (width < 768PX) {
  
  .container {
    width: 100%
  }
/* HEADER STRUCTURE DE LA NAVIGATION */
  .headband {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 70px;
  }

  .logo {
    margin-bottom: 20px;
  }

  /* pour les lien hébergements activités*/
  nav {
    width: 100%;
    gap: 0%;
  }
/* centrer les lien */
  nav a {
    display: flex;
    justify-content: center;
  }

  .menu {
    padding: 50px 0px 50px 0px;
  }

  /* effet de survole */
  .menu:hover {
    border-top: none;
    border-bottom: 2px solid #0065FC;
    width: 100%;
  }

  /* MAIN */
  /* formulaire */
  /* taille et position du formulaire */
 .search{
  width: 85%;
  display: block;
  margin: auto;
 }
  .search h2 {
    font-size: 160%;
  }

  .search p {
    margin: 20px 0px 60px 0px;
    font-size: 140%;
  }

  /* formulaire loupe recherche */
  .btn span {
    display: none;
  }
/* map bouton et recherche */
  .map {
    font-size: 140%;
  }

  .btn {
    padding: 0px 15px 0px 15px;
    font-size: 140%;
  }

  /* FILTRE */
  .filter-list {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }

  .list-choose {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    padding: 0%;
  }

  .filter {
    font-size: 110%;
    margin-bottom: 20px;
  }

  .filter-list i {
    font-size: 70%;
    padding: 15px 2px 15px 10px;
  }

  .filter-choose span {
    font-size: 70%;
    padding: 15px 15px 15px 8px;
  }

  .filter-choose {
    justify-content: flex-start;
    margin: 0%;
    padding: 0%;
    width: 50%;
  }


  /* icone information*/  
  .info {
    width: 100%;
  }  
    .note-info {
      font-size: 90%;
    }
    
    .info span {
      font-size: 109%;
    }

  /* SECTION HEBERGEMENT ET POPULAIRES*/
  /* section hebergements et populaires */
  .hosts {
    flex-direction: column-reverse;
  }

  /* les cartes de visites hebergements a Marseille */
  .hosts-marseille {
    flex-flow: column;
    align-items: center;
    width: 100%;
    gap: 25px;
    border-radius: 0px;
    background-color: white;
  }

    /* le titre hebergement à Marseille */
    .show-marseille {
      font-size: 90%;
      margin-top: 30px;
      width: 85%;
    }

  .lodge-marseille {
    width: 85%;
    height: 250px;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(139, 138, 138)
  }
/* cartes de visites hebergements a Marseille */
  .img-marseille {
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 30px 30px 0px 0px;
    padding-top: 3%;
    height: 130px;
  }

  .precision-marseille {
    line-height: 160%;
    font-size: 100%;
    margin: 15px 0px 0px 10px;
  }

  /*style de afficher plus */
  .attach {
      width: 85%;
    }
  
  /* SECTION LES PLUS POPULAIRES */
  .hosts-popular {
    width: 100%;
    gap: 60px;
    border-radius: 0px;
  }

  /* titre et icone */
  .title-popular {
    width: 85%;
    font-size: 90%;

  }

  /* boites des cartes*/
  .hosts-popular-img {
    gap: 30px;
  }

  .lodgepopular {
    height: 180px;
  }

  .img-popular {
    width: 40%;
    height: 170px;
    margin: 5px 0px 5px 0px;
  }

  /* description populaire */
  .precision-popular {
    line-height: 180%;
    font-size: 100%;
    margin: 10px 0px 0px 15px;
    padding-bottom: 10px;
  }

  /* ACTIVITES A MARSEILLE */
  .hobby {
    width: 100%;
    align-items: center;
    margin-top: 30px;
  }

  #Activités {
    width: 138px;
    font-size: 150%;
    margin-top: 50px;
    margin-bottom: 60px;
    
  }
  .activity {
    display: flex;
    justify-content: flex-start;
    width: 85%;
  }

  /* boites cartes activites */
  .hobby-activity {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 40px;
  }

  /* image sur activités à Marseille */
  .hobby-list {
    align-items: center;
    justify-content: space-around;
    width: 85%;
    height: 250px;
  }

.hobby-landscape {
  height: 180px;
}
/* position des images*/
.port {
  object-fit: cover;
  object-position: 60% 0%;
}

.fort {
  object-fit: cover;
  object-position: 50% 35%;
}

.park {
  object-fit: cover;
  object-position: left 0%;
}

.church {
  object-fit: none;
  object-position: 50% 20%;
}
/* taille position des noms */
  .hoby-list p {
    margin: 0px 0px 20px 10px;
    font-size: 150%;
  }

  /* FOOTER */
  /* boite du footer */
  .foot-terminal {
    flex-direction: column;
   align-items: center;
    height: auto;
  
  }
  /* boite des rensignements */
  .foot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    padding: 30px 0px 30px 0px;
    font-size: 130%;
  }
}